@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

.splash {
  h2 {
    font-family: 'Volkhov', Times, serif;
    font-size: 26px;
    color: #FFFFFF;
  }
  
  p {
    font-family: Helvetica, Arial, sa;
    font-size: 15px;
    color: #FFFFFF;
  }
}